.div3 {
  padding: 5rem 0;

  .gallery-link {
    position: relative;
    margin: 4rem 1rem;
    
    &:hover span {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, 0);
    }
    span {
      position: absolute;
      height: 37px;
      min-width: 100px;
      color: #fff;
      background: black;
      border-radius: 25px;
      top: -70px;
      cursor: pointer;
      left:64%;
      transform: translate(-40%, -20px);
      line-height: 37px;
      z-index: 50;
      text-align: center;
      transition: all 0.5s ease;
      opacity: 0;
      pointer-events: none;
     
      &::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
       
        top: 28%;
        right: 85%;
        z-index: -1;
        // left: 50%;
        transform: translate(-50%) rotate(45deg);
      }
    }

    .food-img {
      width: 24vw;
      height: 15vw;
      object-fit: cover;
      box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
        0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
      transition: all 0.5s;
    }
    &:hover .food-img {
      box-shadow: 0.5rem 0.5rem 0.1rem #e92929, 1rem 1rem 0.1rem #a2e946,
        1.5rem 1.5rem 0.1rem #297ce9, 2rem 2rem 0.1rem #e92999;
      filter: blur(0.2rem);
      opacity: 0.5;
      transform: scale(1.1);
    }
    &:hover::before {
      height: 0.2rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 1000%;
      left: 1.5rem;
      width: 90%;
      z-index: 10;
      height: 0rem;
      background-color: #fff;
      transition: height 0.5s;
    }
    &:hover::after {
      width: 0.3rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 1vw;
      left: 80%;

      width: 0rem;
      height: 1200%;
      background-color: #fff;
      transition: width 0.5s;
    }
    &:hover .food-name {
      width: 100%;
      transition: width 1.5s 0.5s;
    }
    &:hover .food-desc {
      opacity: 1;
      visibility: visible;
      transition: opacity 1s 1s;
    }
    .food-name {
      position: absolute;
      top: -13rem;
      left: 2rem;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #fff;
      width: 0%;
      overflow: hidden;
      transition: width 0.3s;
    }

    .food-desc {
      position: absolute;
      bottom: 6vw;
      left: 1.5rem;

      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      visibility: visible;
      transition: opacity 0.3s;
    }
  }
}
