.favoritslink {
    text-decoration: none;
   position: relative;
    margin-left: 88%;
   
    font-size: 1.4rem;
    color: wheat;
     
      &::after{
        content: "";
        position: absolute;
        width: 93%;
        height: 0.175rem;
        right: 3%;
        bottom: -31%;;
        background: #ea0eea;
         transform: scale(0, 1); 
        transition: transform 0.3s ease;
  
      }
      &:hover::after{
        transform: scale(1,1);
        
      }
    }
    .text5{
        color: wheat;
        margin-top: 7%;
        margin-left: 39%;
        font-size: 1.5rem;
    }

    .fovrishref{
        text-decoration: none;
        color: #fff;
        margin-left: -19%;
        font-size: 1.3rem;
    }
    .favoris_img{
        width: 29vw;
        height: 20vw;
        margin-bottom: 2%;
    }
    .deletebtn{
        margin-left: 30%;
    cursor: pointer;
    }